<footer class="py-3 mt-auto">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-3 my-4 border-top border-secondary">
            <p class="mb-0 text-muted">© 2025 Django Blog. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-secondary" href="#"><i class="bi bi-twitter"></i></a></li>
                <li class="ms-3"><a class="link-secondary" href="#"><i class="bi bi-instagram"></i></a></li>
                <li class="ms-3"><a class="link-secondary" href="#"><i class="bi bi-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</footer>