<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary sticky-top">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand fw-bold text-white" href="/">Django Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="d-flex me-auto my-2 my-lg-0" method="get" action="">
                <input class="form-control bg-dark text-white border-secondary me-2 rounded-5" type="search" name="query" placeholder="Search posts...">
                <button class="btn btn-outline-light btn-sm rounded-5" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-auto align-items-lg-center">
                {% if request.user.is_authenticated %}
                    <li class="nav-item me-3">
                        <a class="nav-link d-flex align-items-center text-white" href="">
                            <i class="bi bi-feather me-1"></i> Write
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle nav-link d-flex align-items-center p-0" type="button" data-bs-toggle="dropdown">
                            <img src="" alt="Profile" class="rounded-circle border border-secondary" width="35" height="35">
                        </button>
                        <div class="dropdown-menu dropdown-menu-end bg-dark border-secondary">
                            <a class="dropdown-item text-white hover-bg-gray-800" href="">Settings</a>
                        </div>
                    </li>                    
                {% else %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:login' %}">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>